html, body {
    font-family: Open Sans;
    font-size: 18px;
    line-height: 28px;
    scroll-behavior: smooth;
  }
  
  h1 {
    font-family: Open Sans;
    color: white;
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    line-height: 200px;
  }
  
  .MainContainer {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  .ContentContainer {
    position: relative;
    display: block;
    background-color: white;
    z-index: 1;
  }
  
  .Content {
    max-width: 750px;
    margin: 0 auto;
    padding: 75px 0;
  }
  
  p {
    margin: 75px 0;
  }
  
  .ParallaxContainer {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    z-index: -1;
    height: 100%;
    justify-content: center;
    align-items: center;
    transform: translateZ(-1px) scale(2);
    background: url(https://media0.giphy.com/media/7BL6VINFeSY0Q2PgRf/giphy.gif?cid=ecf05e47vams3yal85b7epqn7kt3q5nqhh1hdcayc8t05jzt&rid=giphy.gif&ct=g);
    background-size: 100%;
  }
  
  video{
    display: block;
    margin: auto;
    padding-top: 20px;
  }
  
