* {
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 28px;
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 130px;
    font-weight: 800;
}

.MainContainer {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.ContentContainer {
    position: relative;
    display: block;
    background-color: white;
    z-index: 1;
}

.Content {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    background: #dae6ba;
}

.Content p {
    max-width: 1000px;
    display: block;
    margin: auto;
}

p {
    margin: 75px 0;
}

.greensquare {
    width: 100%;
    background: #dae6ba;
}

.ParallaxContainer {
    position: relative;
    z-index: -1;
    height: 89%;
    justify-content: center;
    align-items: center;
    transform: translateZ(-1px) scale(2);
    background: url("https://media0.giphy.com/media/DCZvWu5DWW6vQ2wIa1/giphy.gif?cid=790b7611b616d00f70d7574bba58bf3b9b61b2daca274dc9&rid=giphy.gif&ct=g");
    background-size: 100%;
    background-repeat: no-repeat;
}

.ParallaxContainer svg {
    display: block;
    margin: auto;
    width: 65%;
    margin-top: 140px;
    opacity: 100%;
    z-index: 2;
}

video {
    display: block;
    margin: auto;
}

.top {
    position: absolute;
    color: transparent;
}

.flex {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
}

#projects div p {
    text-align: center;
    margin-top: -20%;
    color: white;
    max-width: 1000px;
    font-size: 25px;
}

.img.is-visible {
    opacity: 1;
    transform: rotateZ(-3deg);
}

.img {
    box-shadow: 0 3px 7px rgba(0,0,0,.5);
    border-radius: 10px;
    border: 1em solid #fff;
    border-radius: 0.25em;
    box-shadow: 1em 1em 2em 0.25em rgb(0 0 0 / 60%);
    margin: 2em auto;
    opacity: 0;
    transform: translateY(4em);
    transition: transform 4s 0.25s cubic-bezier(0, 1, .3, 1), opacity 0.3s 0.25s ease-out;
    max-width: 600px;
    width: 90%;
    will-change: transform, opacity;
}

/*---text animation----*/
.ml3 {
    font-weight: 900;
    font-size: 3em;
    padding: 40px;
}

.ml4 {
    font-weight: 900;
    font-size: 3em;
    padding: 40px;
}

.ml5 {
    font-weight: 900;
    font-size: 3em;
    padding: 30px;
}

/*---- footer ----*/

.footer1 {
    color: white;
}   

.footer {
    width: 100%;
    background-color: #3ac5ff;
    display: flex;
    margin: auto;
}

.footerbox {
    width: 100%;
    display: flex;
}
/*----social media---*/

.footer-socials {
    margin: auto;
}

.social-logo {
    z-index: 550;
    padding: 5px;
    display:inline-block;
    margin: auto;
    transform: scale(1);
    -webkit-transform: scale(1);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.social-logo:hover {
    opacity: 0.4;
}

/*---klank efterskole---*/

.footer-info {
    margin: auto;
}


/*---- SVG-horse css----*/

.horse-div {
    margin: auto;
}
